.app__miguel {
    max-width: 1000px;
    height: 95vh;
    flex-direction: column;

    padding: 6rem 1rem 6rem 4rem;
    margin: 0 auto;
	
    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 900px) {
        padding: 2rem 4rem;
    }

    @media screen and (max-width: 450px) {
        padding: 4rem 2rem;
    }
	
	border-top: 2px solid black;
}

.app__miguel-section {

}

.app__miguel-title {

}

.app__miguel-excerpt {

}